---
layout: default
active: home
---

<header class="blog-header" role="banner">
  <!-- {% if site.logo %}
    <a class="blog-logo" href="{{site.url}}" style="background-image: url('{{ site.logo }}')">{{ site.title }}</a>
  {% endif %} -->
  <h1 class="blog-title">{{ site.title }}</h1>
  <h2 class="blog-description">{{ site.description }}</h2>
</header>

<main class="content" role="main">

  <div class="cf frame">
   {% for post in paginator.posts %}
    <article 
      class="post-index" 
      itemscope 
      itemtype="http://schema.org/BlogPosting" 
      role="article"
      style="background-image: url({{ post.image }})"
    >
      <a href="{{ post.url }}" itemprop="url" class="article-link"></a>
      <div class="post-meta-index">
        <time datetime="{{ post.date | date: "%F %R" }}">
          {% assign m = post.date | date: "%-m" %}
          <span class="day">{{ post.date | date: "%-d" }}</span>
          <span>{% case m %}
              {% when '1' %}Gen
              {% when '2' %}Feb
              {% when '3' %}Mar
              {% when '4' %}Apr
              {% when '5' %}Mag
              {% when '6' %}Giu
              {% when '7' %}Lug
              {% when '8' %}Ago
              {% when '9' %}Set
              {% when '10' %}Ott
              {% when '11' %}Nov
              {% when '12' %}Dic
            {% endcase %}
            '{{ post.date | date: "%y" }}
          </span>
        </time>
<!--            <span class="post-tags-set">on {{#foreach tags}}<span class="post-tag-{{slug}}">{{#if @first}}{{else}}, {{/if}}<a href="/tag/{{slug}}">{{name}}</a></span>{{/foreach}}</span>-->
      </div>
      <div title="commenti" class="comments-bubble">
        <p class="disqus-comment-count" data-disqus-url="http://blog.matteoborgato.com{{ post.url }}/">0</p>
      </div>
      <header class="post-header">
        <h2 class="post-title" itemprop="name">
          {{ post.title }}
        </h2>
      </header>
      <section class="post-excerpt" itemprop="description">
        <p class="post-subtitle">
          {{ post.subtitle }}
          <!-- {{ post.content | strip_html | truncatewords: 50 }} -->            
        </p>
      </section>
    </article>
   {% endfor %}
  </div>

  <nav class="pagination" role="navigation">
   {% if paginator.next_page %}
    <a class="newer-posts" href="/page{{paginator.next_page}}">&larr; Vecchi pensieri</a>
   {% endif %}
   <span class="page-number">Pagina {{ paginator.page }} di {{ paginator.total_pages }}</span>
   {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
     <a class="older-posts" href="/">Nuovi pensieri &rarr;</a>
    {% else %}
     <a class="older-posts" href="/page{{paginator.previous_page}}">Nuovi pensieri &rarr;</a>
    {% endif %}
   {% endif %}
  </nav>

  <!-- {{!! After all the posts, we have the previous/next pagination links }}
  {{pagination}} -->  

  <div class="friends-link">
  <p>Blog Amici:</p>
  <a href="http://www.andreabarbon.it">Il Blog di Andrea Barbon</a> &middot;
  <a href="http://www.ilminimalista.net">Il Minimalista</a>
  </div>

</main>
