---
layout: default
active: home
---

<header class="blog-header" role="banner">
  <h1 class="blog-title">{{ site.title }}</h1>
  <h2 class="blog-description">{{ site.description }}</h2>
</header>

<main class="content content-index" role="main">

  {% if paginator.page == 1 %}
    <div class="frame featured">
      {% for post in site.tags.featured %}
        <article 
          class="post-index" 
          itemscope 
          itemtype="http://schema.org/BlogPosting" 
          role="article"
        >
          <a href="{{ post.url }}" itemprop="url" class="article-link"></a>
          <div class="post-meta-index">
            <time datetime="{{ post.date | date: "%F %R" }}"></time>
          </div>
          <div
            class="post-index-image"
            style="background-image: url('{{ site.url_images }}{{ post.image }}')">
          </div>
          <header class="post-index-header">
            <h2 itemprop="name">
              {{ post.title }}
            </h2>
            <h3 itemprop="subtitle">
              {{ post.subtitle }}
            </h3>
          </header>
        </article>
      {% endfor %}
    </div>
  {% endif %}

  <div class="frame frame-index">
    {% for post in paginator.posts %}
      {% if post.featured == null %}
        <article 
          class="post-index" 
          itemscope 
          itemtype="http://schema.org/BlogPosting" 
          role="article"
        >
          <a href="{{ post.url }}" itemprop="url" class="article-link"></a>
          <div class="post-meta-index">
            <time datetime="{{ post.date | date: "%F %R" }}">
              {% assign m = post.date | date: "%-m" %}
              <span class="day">{{ post.date | date: "%-d" }}</span>
              <span>{% case m %}
                  {% when '1' %}Gen
                  {% when '2' %}Feb
                  {% when '3' %}Mar
                  {% when '4' %}Apr
                  {% when '5' %}Mag
                  {% when '6' %}Giu
                  {% when '7' %}Lug
                  {% when '8' %}Ago
                  {% when '9' %}Set
                  {% when '10' %}Ott
                  {% when '11' %}Nov
                  {% when '12' %}Dic
                {% endcase %}
                '{{ post.date | date: "%y" }}
              </span>
            </time>
    <!--            <span class="post-tags-set">on {{#foreach tags}}<span class="post-tag-{{slug}}">{{#if @first}}{{else}}, {{/if}}<a href="/tag/{{slug}}">{{name}}</a></span>{{/foreach}}</span>-->
          </div>

          <header class="post-index-header">
            <div
              class="post-index-image"
              style="background-image: url('{{ site.url_images }}{{ post.image }}')">
            </div>
            <h2 itemprop="name">
              {{ post.title }}
            </h2>
          </header>
          <section class="post-index-subtitle">
            <h3 itemprop="subtitle">
              {{ post.subtitle }}
            </h3>
            <!-- <div title="commenti" class="comments-bubble">
              <p class="disqus-comment-count" data-disqus-url="http://blog.matteoborgato.com{{ post.url }}">0</p>
            </div> -->
          </section>
          <!-- {{ post.content | strip_html | truncatewords: 250 }} -->
        </article>
      {% endif %}
    {% endfor %}
  </div>

  <nav class="pagination" role="navigation">
   {% if paginator.next_page %}
    <a class="older-posts" href="/page{{paginator.next_page}}">&larr; Vecchi pensieri</a>
   {% endif %}
   <span class="page-number">Pagina {{ paginator.page }} di {{ paginator.total_pages }}</span>
   {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
     <a class="newer-posts" href="/">Nuovi pensieri &rarr;</a>
    {% else %}
     <a class="newer-posts" href="/page{{paginator.previous_page}}">Nuovi pensieri &rarr;</a>
    {% endif %}
   {% endif %}
  </nav>

  <!-- {{!! After all the posts, we have the previous/next pagination links }}
  {{pagination}} -->  

</main>
