---
layout: default
---

<header class="blog-header">
  <!-- {% if site.logo %}
    <a class="blog-logo" href="{{site.url}}" style="background-image: url('{{ site.logo }}')">{{ site.title }}</a>
  {% endif %} -->
  <h1 class="blog-title">{{ site.title }}</h1>
  <h2 class="blog-description">{{ site.description }}</h2>
  <div class="custom-links">
    <a href="/chi-sono">Chi sono</a>
  </div>
</header>

<main class="content" role="main">

  <div class="cf frame">
   {% for post in paginator.posts %}
    <article class="post-index" itemscope itemtype="http://schema.org/BlogPosting" role="article">
      <a href="{{ post.url }}" itemprop="url" class="article-link">
        <div class="post-meta">
          <time datetime="{{ post.date | date: "%F %R" }}">
            <!-- Whitespace added for readability -->
            {% assign m = post.date | date: "%-m" %}
            {{ post.date | date: "%-d" }}
            {% case m %}
              {% when '1' %}Gennaio
              {% when '2' %}Febbraio
              {% when '3' %}Marzo
              {% when '4' %}Aprile
              {% when '5' %}Maggio
              {% when '6' %}Giugno
              {% when '7' %}Luglio
              {% when '8' %}Agosto
              {% when '9' %}Settembre
              {% when '10' %}Ottobre
              {% when '11' %}Novembre
              {% when '12' %}Dicembre
            {% endcase %}
            {{ post.date | date: "%Y" }}
          </time>
  <!--            <span class="post-tags-set">on {{#foreach tags}}<span class="post-tag-{{slug}}">{{#if @first}}{{else}}, {{/if}}<a href="/tag/{{slug}}">{{name}}</a></span>{{/foreach}}</span>-->
        </div>
        <div class="disqus-comment-count" title="commenti" data-disqus-url="http://blog.matteoborgato.com{{ post.url }}/">0</div>
        <header class="post-header">
          <div class="thumbnail-image" style="background-image: url({{ post.image-thumbnail }})"></div>
          <h2 class="post-title" itemprop="name">
            {{ post.title }}
          </h2>
        </header>
        <section class="post-excerpt" itemprop="description">
          <p class="post-subtitle">
            {{ post.subtitle }}
            <!-- {{ post.content | strip_html | truncatewords: 50 }} -->            
          </p>
        </section>
      </a>
    </article>
   {% endfor %}
  </div>

  <nav class="pagination" role="navigation">
   {% if paginator.next_page %}
    <a class="newer-posts" href="/page{{paginator.next_page}}">&larr; Vecchi pensieri</a>
   {% endif %}
   <span class="page-number">Pagina {{ paginator.page }} di {{ paginator.total_pages }}</span>
   {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
     <a class="older-posts" href="/">Nuovi pensieri &rarr;</a>
    {% else %}
     <a class="older-posts" href="/page{{paginator.previous_page}}">Nuovi pensieri &rarr;</a>
    {% endif %}
   {% endif %}
  </nav>

  <!-- {{!! After all the posts, we have the previous/next pagination links }}
  {{pagination}} -->  

  <div class="friends-link">
  <p>Blog Amici:</p>
  <a href="http://www.andreabarbon.it">Il Blog di Andrea Barbon</a> &middot;
  <a href="http://www.ilminimalista.net">Il Minimalista</a>
  </div>

</main>

<!-- {{!! Filament }} -->
<script type="text/javascript" data-cfasync="false"  src="//filamentapp.s3.amazonaws.com/b4ccd30c33d52de8cae804e1333a7f8c.js" async="async"></script>

<!-- {{!! Count messages disqus }} -->
<script type="text/javascript">
var disqus_shortname = 'blogmatteoborgatocom';

(function () {
  var s = document.createElement('script'); s.async = true;
  s.type = 'text/javascript';
  s.src = '//' + disqus_shortname + '.disqus.com/count.js';
  (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
}());
</script> 
