---
layout: review
title: Recensioni
permalink: /recensioni/
active: recensioni
---

<header class="blog-header" role="banner">
  <h1 class="blog-title">{{ page.title }}</h1>
</header>

<main class="wide-content" role="main">

  <section id="books">
    <h2 class="section-title centered">Libri</h2>
    <div class="h-scrollable">
      <ul>
        {% for book in site.data.books %}
          <li class="book">
            <div class="details">
              <h3 class="title centered">{{ book.id }}</h3>
              <p class="author centered">{{ book.author }}</p>
              
              {% if book.status != 'letto' %}
                <div class="item-status">
                  @ &nbsp;
                  {{ book.status }}
                </div>
              {% endif %}
            </div>

            <div class="cover">
              <div class="review">
                <div class="close-review">
                  <i class="fa fa-times"></i>
                </div>
                <p>
                  {% if book.type == 'audiolibro' %}
                    <span class="fa fa-headphones"> </span>
                    Audiolibro
                  {% endif %}
                </p>
                <p>
                  {{ book.review }}
                </p>
              </div>

              <a class="open-review">
                <i class="fa fa-search fa-5x"></i>
              </a>

              <img 
                class="img-cover"
                src="/assets/images/loader.svg"
                data-src="/assets/review_images/{{ book.cover }}"
              />
            </div>

            <div class="date centered">
              <span class="fa fa-eye"></span>
              <span>{{ book.date }}</span>
            </div>

            <div class="stars centered">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              {% if book.stars >= 3 %}
                <i class="fa fa-star"></i>
              {% else %}
                <i class="fa fa-star-o"></i>
              {% endif %}
              {% if book.stars >= 4 %}
                <i class="fa fa-star"></i>
              {% else %}
                <i class="fa fa-star-o"></i>
              {% endif %}
              {% if book.stars >= 5 %}
                <i class="fa fa-star"></i>
              {% else %}
                <i class="fa fa-star-o"></i>
              {% endif %}
            </div>

          </li>
        {% endfor %}
      </ul>
    </div>
  </section>

  <section id="films">
    <h2 class="section-title centered">Film</h2>
    <div class="h-scrollable">
      <ul>
        {% for film in site.data.films %}
          <li class="film">
            <div class="details">
              <h3 class="title centered">{{ film.title }}</h3>
              <p class="author centered">{{ film.director }}</p>
            </div>

            <div class="cover">
              <div class="review">
                <div class="close-review">
                  <i class="fa fa-times"></i>
                </div>
                {{ film.review }}
              </div>

              <a class="open-review">
                <i class="fa fa-search fa-5x"></i>
              </a>
              
              <img 
                class="img-cover" 
                src="/assets/images/loader.svg"
                data-src="/assets/review_images/{{ film.cover }}"
              />
            </div>

            <div class="date centered">
              <span class="fa fa-eye"></span>
              <span>{{ film.date }}</span>
            </div>

            <div class="stars centered">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              {% if film.stars >= 3 %}
                <i class="fa fa-star"></i>
              {% else %}
                <i class="fa fa-star-o"></i>
              {% endif %}
              {% if film.stars >= 4 %}
                <i class="fa fa-star"></i>
              {% else %}
                <i class="fa fa-star-o"></i>
              {% endif %}
              {% if film.stars >= 5 %}
                <i class="fa fa-star"></i>
              {% else %}
                <i class="fa fa-star-o"></i>
              {% endif %}
            </div>

          </li>
        {% endfor %}
      </ul>
    </div>
  </section>

  <svg xmlns="http://www.w3.org/2000/svg" version="1.1" class="filters">
    <defs>
      <filter id="blur" x="0" y="0">
        <feGaussianBlur in="SourceGraphic" stdDeviation="5" />
    </filter>
    </defs>
  </svg>

</main>
