<div id="toggle-nav">
  <span class="show-menu"></span>
</div>

<div class="menu-wrap">
  <nav class="menu" role="navigation">
    <ul>
      {% if page.active == "home" %}
        <li class="active"><a title="home" href="#">Home</a></li>
      {% else %}
        <li><a title="torna alla home" href="/">Home</a></li>
      {% endif %}

      {% if page.active == "recensioni" %}
        <li class="active"><a title="recensioni" href="/recensioni">Recensioni</a></li>
      {% else %}
        <li><a title="recensioni" href="/recensioni">Recensioni</a></li>
      {% endif %}
      <li>
        <a title="il mio portfolio" href="http://matteoborgato.com" target="_blank">Portfolio</a>
      </li>
      {% if page.active == "chi-sono" %}
        <li class="active"><a title="chi sono" href="/chi-sono">Chi sono</a></li>
      {% else %}
        <li><a title="chi sono" href="/chi-sono">Chi sono</a></li>
      {% endif %}
    </ul>
  </nav>
</div>
