<!-- footer start -->

<script type="text/javascript">
  var disqus_shortname  = 'blogmatteoborgatocom';
  var disqus_identifier = '{{ page.title }}';
  var disqus_url        = '{{ page.title }}'
</script>

<script type="text/javascript" src="{{ "/assets/js/main.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ "/assets/js/post.js" | prepend: site.baseurl }}"></script>

<script data-cfasync="false" type="text/javascript" src="//filamentapp.s3.amazonaws.com/b4ccd30c33d52de8cae804e1333a7f8c.js" async="async"></script>

<!-- footer end -->