$height-post-index: 550px;
$width-post-index: 24%;

.content-index {
  max-width: 800px;

  .frame-index {
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .post-index {
    overflow: hidden;
    font-size: 1.35rem;
    position: relative;
    background-color: #FFF;
    background-position: center;
    @include transition( all 150ms );
    padding: 0;
    margin: 15px 0;
    width: $width-post-index;
    min-width: 250px;
    height: $height-post-index;
    border: 1px solid rgba( 0, 0, 0, .09);
    box-shadow: 0 4px 10px 0 rgba(0,0,0,.05);

    &:hover {
      top: -5px;
      box-shadow: 0 8px 24px 0 rgba(0,0,0,.15);
    }
  }
  .post-index-image {
    display: block;
    height: 250px;
    background-size: cover;
    background-position: center;
  }

  .post-index-header {
    h2 {
      padding: 1rem 1.25rem;
      text-align: left;
      margin: 0;
      letter-spacing: -0.03em;
      position: relative;
    }
    h2:after {
      content: "";
      width: 55px;
      height: 5px;
      background: $blue;
      position: absolute;
      bottom: -12px;
      left: 1.25rem;
    }
  }
  
  .post-index-subtitle {
    background-color: rgba(255, 255, 255, .95);
    text-align: left;
    padding: .3rem 1.25rem;
    h3 {
      line-height: 1.25rem;
      font-size: 1.1rem;
      margin-top: 25px;
      font-family: $font-serif;
      font-weight: 400;
      font-style: normal;
      color: #667;
    }
  }

  @include respond-to( 800 ) {
    .post-index {
      font-size: 1.15rem;
      display: block;
      width: 100%;
      height: $height-post-index - 180px;
    }
    .post-index-subtitle {
      font-size: .65rem;
      line-height: 1.1rem;
    }
    .post-index-header {
      h2 {
        padding: 0.5rem 1.25rem;
      }
      h2:after {
        display: none;
      }
    }
    .post-index-subtitle h3 {
      margin: 0;
    }
  }

}

.featured {
  margin-top: 15px;

  .post-index-image {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
  }

  .post-index {
    width: 100%;
    background-size: contain;
  }

  .post-index-image,
  .post-index-header {
    display: inline-block;
  }

  .post-index-header {
    position: absolute;
    bottom: 50px;
    right: 0;
    color: #fff;
    text-align: left;
    h2 {
      padding: 0 1.5em;
    }
    h2:after {
      width: 0px;
      height: 0px;
    }
    h3 {
      display: none;
    }
  }

}