$height-post-index: 370px;

.content-index {
  max-width: 1600px;

  .post-index {
    overflow: hidden;
    font-size: 1.35rem;
    position: relative;
    background-size: 100%;
    background-color: #555;
    background-position: center;
    @include transition( all .5s );
    transform: rotate( 1deg );
    padding: 10px;
    width: 65%;
    margin: 1.3em auto;
    height: $height-post-index;
    box-shadow: 0 5px 25px rgba(0,0,0,0.25);
    a {
      box-shadow: none;
    }
    &:hover .post-index-header {
      @include transform(translate3d(0, -75px, 0));
    }
    &:hover .post-index-subtitle {
      opacity: 1;
      @include transform(translate3d(0, -85px, 0));
    }
    &:hover {
      background-size: 105%;
      transform: rotate( 0deg );
    }
  }

  .post-index-header {
    position: absolute;
    bottom: .5em;
    padding: .3rem .25rem;
    background-color: rgba( 255, 255, 255, .95 );
    @include transition-property( transform );
    @include transition-duration( .25s );
    @include transition-timing-function( $ease-in-out-back );
    h2 {
      margin: 0;
      letter-spacing: -0.03em;
    }
  }
  
  .post-index-subtitle {
    background-color: rgba(255, 255, 255, .95);
    position: absolute;
    top: $height-post-index + 10px;
    @include transition-property( transform );
    @include transition-duration( .25s );
    @include transition-timing-function( $ease-in-out-back );
    @include transition-delay( .10s );
    opacity: 0;
    text-align: left;
    padding: .3rem .25rem;
    h3 {
      line-height: 1.3rem;
      font-size: .85rem;
      margin: 0;
      font-family: $font-sans;
      font-weight: 400;
      font-style: normal;
      letter-spacing: .13em;
      text-transform: uppercase;
      color: #667;
    }
  }

  @include respond-to( 1200 ) {
    .post-index {
      background-size: cover;
    }
    .post-index:hover {
      background-size: cover;
    }
  }

  @include respond-to( 800 ) {
    .post-index {
      font-size: 1.15rem;
      float: none;
      width: 100%;
    }
    .post-index-subtitle {
      font-size: .65rem;
      line-height: 1.1rem;
    }
  }

}