
#toggle-nav {
  @include transform( translate3d( 0, 0, 0 ) );
  @include transition-property( transform );
  @include transition-duration( 0.5s );
  @include transition-timing-function( $ease-in-out-back );
  cursor: pointer;
  position: fixed;
  z-index: 99999;
  overflow: hidden;
  top: $rs / 1.25;
  left: $rs / 1.25;
  display: block;
  width: $rs * 3;
  height: $rs * 3;
  border-radius: $rs * 3;
  background-color: rgb(51, 51, 51);
  box-shadow: 0 0 0 .3em rgba(255,255,255, .5);

  &:active,
  &:hover {
    background-color: rgba(51, 51, 51, .95);
    .show-menu:after {
      top: 11px;
    }
    .show-menu:before {
      top: -11px;
    }
  }
  
  .show-menu,
  .show-menu:after,
  .show-menu:before {
    width: 25px;
    height: 3px;
    background: #fff;
    display: block;
    position: absolute;
    top: 22px;
    left: 12px;
    border-radius: 5px;
    transition: all 300ms ease-out;
  }

  .show-menu:after, 
  .show-menu:before {
    content: "";
    left: 0;
  }

  .show-menu:after {
    top: 9px;
  }
  .show-menu:before {
    top: -9px;
  }
}

.active-menu #toggle-nav {
  @include transform( translate3d(247px, 0, 0) rotate(-180deg) );
  .show-menu:after {
    top: 0;
    @include transform( rotate(90deg) );
  }
  .show-menu:before {
    display: none;
  }
  .show-menu {
    @include transform( rotate(-45deg) );
  }
}

.menu-wrap {
  box-sizing: border-box;
  height: 100%;
  position: fixed;
  @include transition-property( transform );
  @include transition-duration( .25s );
  @include transition-timing-function( $ease-in-out-back );
  @include transform( translate3d( -380px, 0, 0 ) );
  width: 350px;
  z-index: 1001;
  background: #333;
  box-shadow: 0px 3px 5px #555;
}

.menu-wrap ul {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 1.55em;
  font-size: 2em;
  li {
    text-align: right;
    padding: 1em 0;
    @include transition-property( transform );
    @include transition-duration( .15s );
    @include transition-timing-function( $ease-out-back );
    @include transform( translate3d(-380px, 0, 0) );
  }
  a {
    padding: .5em 1em;
    box-shadow: none;
  }
  .active a {
    background-color: rgba( 90, 207, 245, .75 );
  }

}

.active-menu .menu-wrap {
  @include transform(translate3d(-67px, 0, 0));
}

.active-menu .menu-wrap li {
  @include transform(translate3d(0, 0, 0));
}

$elements: 5;
@for $i from 0 to $elements {
  .active-menu .menu-wrap li:nth-child(#{$i}) {
    @include transition-delay( #{$i * 0.07 + 0.05 }s );  
  }
}

@include respond-to(800) {
  .menu-wrap ul {
    font-size: 1.5em;
    margin-top: 2.25em;
  }
  .active-menu #toggle-nav {
    @include transform(translate3d(139px, 0, 0) rotate(90deg));
  }
  .active-menu .menu-wrap {
    @include transform(translate3d(-180px, 0, 0));
  }
}

main::before {
  background: repeat 0 0 rgba(0, 0, 0, 0.5);
  content: "";
  height: 100%;
  left: 0;
  opacity: 0;
  position: fixed;
  top: 0;
  @include transform( translate3d(100%, 0, 0) );
  @include transition( opacity 0.3s ease 0s, transform 0s ease 0.3s );
  width: 100%;
  z-index: 10;
}

.active-menu main::before {
  opacity: 1;
  @include transform( translate3d(0, 0, 0) );
  @include transition( opacity 0.3s ease 0s );
}
